body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  background-color: #fafafa;
}

#app {
	height: 100%;
	width: 100%;
    position: absolute;
}

div, button, input, form {
	outline: none!important;
}

button:hover {
	cursor: pointer;
}